/*
Building template design using margin, padding, float
*/

:root {
    --prim: #005a9c;
    --sec: darkgoldenrod;
    --tert: #eaeae3;
    --font1: "Quicksand", system-ui;
    --font2: "bebas Neue", system-ui;
}

*{ box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    background-color: var(--tert);
}

.bold{
    font-weight: 700;
}

.colophon {
    font-family: var(--font1);
    text-align: center;
}
.container {
    margin: 0 auto;
    width: 94%;
    border: 1px rgb(0, 6, 179);
}

.form{
    margin-top: 10px;
    float: left;
    width: 30%;
    text-align: right;

}


.heading{
    margin: 0;
}

#myName{
    float: left;
    margin: 0;
    font-family: var(--font1);
    color: var(--prim);
    font-size: 32px;
    width: 40%;                                          
    /*border: 1px solid red;*/
}

.heading {
    margin: 0;
    color: vat(--sec);
    font-family: var(--font2);
    text-shadow: 2px 2px 2px #333;
}

/*
build a navbar

ul{
padding-left: 0;
life-syle-type: none;

}

li {
    display: inline;
}
*/

.nav{
    margin-top: 10px;
    padding-left: 0;
    text-align: center;
    list-style-type: none;

}

.nav-item{
    display: inline;
    padding: 0 15px;
    font-family: var(--font1);
}

.nav-link {
    color: var(--prim);
    text-decoration: none;
    text-transform: lowercase;
}

.nav-link:hover {
        color: var(--font2)
}

.search-label{
    display: none;
}

.text{
    font-family: var(--font1);
}

.figcaption {
    color: var(--sec);
    font-family: var(--font1);
    font-style: italic;
}

#block1, #block2 {
    width: 50%;
    padding: 10px;
    float: right;
}

#blockText1, #blockText2 {
    font-size: 24px;
}


#block4 .text{
    padding: 0 15px;
}

#block5, #block6, #block7{
    padding: 10px 15px;
    width: calc(100% /3);
    float: left;

}
#blockText3, #blockText4 {
    padding: 10px 15px;
    width: 50%;
    float: left;
}

#block2, #figure1 {
    width: 50%;
    float: left;
    border: 1px rgb(13, 123, 233);
}

#figure1 {
    margin: 0;
    padding-left: 20px;
}

#figure2 {
    text-align: center;
}

#figure2 img{
    border-radius: 50%;
}

#footer {
    padding-bottom: 60px;
}

#header {
    padding: 15px 0;
}

#section1 {
    padding: 40px 0;
}

#section1, #section2 {
    padding: 40px 0;
}

#topNav {
    width: 30%;
    float: left;
    /*border: 1px solid orange;*/
}
#section1, #section2, #section3 {
    padding: 40px 0;
}

.clear{
    clear: both;
}